
    $primary-color: #2180c0;
    $secondary-color: #105685;
    $accent-color: #e74c3c;
    $text-primary: #ffff;
    $color-btn-green : #0f8a42;
    $color-btn-green-secondary : #017030;
    $color-btn-red:#b11717;
    $color-btn-red-secondary:#ad0909;
    $smooth:all .3s ease-in-out;
    $editor-primary : #0b071c;